# Package code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency of the package, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

*                                       @DataDog/agent-devx
apps/jmxfetch       @DataDog/agent-metrics-logs
apps/logger         @DataDog/agent-metrics-logs
apps/tracegen       @DataDog/agent-apm
apps/cws            @DataDog/agent-security
apps/fips           @DataDog/agent-runtimes
apps/otel           @DataDog/opentelemetry
apps/gpu            @DataDog/ebpf-platform
