version: 2
updates:

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    groups:
      aws-sdk-go-v2:
        patterns:
          - 'github.com/aws/aws-sdk-go-v2*'
      pulumi-azure-native-sdk:
        patterns:
          - 'github.com/pulumi/pulumi-azure-native-sdk*'

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/dogstatsd/images/dogstatsd
    schedule:
      interval: daily

  - package-ecosystem: gomod
    directory: /components/datadog/apps/dogstatsd/images/dogstatsd
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/mutatedbyadmissioncontroller/images/mutated
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/nginx/images/http-client
    schedule:
      interval: daily

  - package-ecosystem: gomod
    directory: /components/datadog/apps/nginx/images/http-client
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/nginx/images/nginx-server
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/prometheus/images/prometheus
    schedule:
      interval: daily

  - package-ecosystem: gomod
    directory: /components/datadog/apps/prometheus/images/prometheus
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/redis/images/redis-client
    schedule:
      interval: daily

  - package-ecosystem: gomod
    directory: /components/datadog/apps/redis/images/redis-client
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/redis/images/redis-server
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/cpustress/images/stress-ng
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/npm-tools/images/go-httpbin
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/npm-tools/images/npm-tools
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/cws/images/cws-centos7
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /components/datadog/apps/etcd/images/alpine
    schedule:
      interval: daily