variables:
  IMAGE_REPOSITORY: 486234852809.dkr.ecr.us-east-1.amazonaws.com/ci/test-infra-definitions

stages:
  - build

build-runner-image:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:20.10.13
  tags: ["runner:docker"]
  variables:
    PUSH_IMAGE: "true"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      variables:
        PUSH_IMAGE: "true"
    - when: on_success
  script:
    - TARGET_REPO="${IMAGE_REPOSITORY}/runner"
    - if [ "$PUSH_IMAGE" = "true" ]; then PUSH_ARG="--push"; fi
    # Tag with 8 and 12 SHA to match go.mod
    - docker buildx build --no-cache --pull $PUSH_ARG --tag ${TARGET_REPO}:${CI_COMMIT_SHORT_SHA} --tag ${TARGET_REPO}:${CI_COMMIT_SHA:0:12}  .
  retry: 2
