repos:
  - repo: https://github.com/golangci/golangci-lint
    # Sync with the version in .github/workflows/lint.yml
    rev: v1.64.8
    hooks:
      - id: golangci-lint
  - repo: local
    hooks:
      - id: validate-python-fix
        name: validate-python-fix
        language: system
        entry: dda validate python
        args: [--fix]
        require_serial: true
        additional_dependencies: []
        types_or: [python, pyi]
        minimum_pre_commit_version: "2.9.2"
  - repo: local
    hooks:
      - id: validate-python
        name: validate-python
        entry: dda validate python
        language: system # Use local install for pyright, else we cannot import the requirements and we get errors on external libraries
        require_serial: true
        additional_dependencies: []
        types_or: [python, pyi]
        minimum_pre_commit_version: "2.9.2"
      - id: go-tidy
        name: go-tidy
        entry: go mod tidy
        files: .*\.go$
        language: system
        pass_filenames: false
      - id: protected-branches
        name: protected-branches
        description: checks that the commit isn't created on a protected branch
        entry: "inv ci.check-protected-branch"
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push]