repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
    - id: golangci-lint
  - repo: local
    hooks:
    - id: pyright
      name: pyright
      entry: pyright
      language: system  # Use local install for pyright, else we cannot import the requirements and we get errors on external libraries
      'types_or': [python, pyi]
      require_serial: true
      additional_dependencies: []
      minimum_pre_commit_version: '2.9.2'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.3'
    hooks:
      - id: vulture
  - repo: local
    hooks:
      - id: go-tidy
        name: go-tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
