name: Open datadog-agent PR
run-name:
on:
  pull_request:

jobs:
  open_bump_pr:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'no-auto-bump') }}
    runs-on: ubuntu-latest
    steps:
      - name: Create Token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.DATADOG_APP_ID }}
          private-key: ${{ secrets.DATADOG_APP_PRIVATE_KEY }}
          repositories: datadog-agent

      - name: Clone datadog-agent repo
        uses: actions/checkout@v4
        with:
          repository: datadog/datadog-agent
          persist-credentials: false
          path: datadog-agent
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0
      - name: Get previous SHA
        id: get-previous-sha
        working-directory: datadog-agent
        run: |
          PREVIOUS_SHA=$(cat .gitlab-ci.yml | grep TEST_INFRA_DEFINITIONS_BUILDIMAGES: | awk -F " " '{print $NF}')
          echo PREVIOUS_SHA=${PREVIOUS_SHA} >> "${GITHUB_OUTPUT}"
      - name: Setup Python3
        uses: actions/setup-python@v4
        with:
          python-version: "3.11.5"
          cache: "pip"

      - name: Install python deps
        working-directory: datadog-agent
        run: |
          pip3 install -r requirements.txt

      - name: Update test-infra-defintions version
        working-directory: datadog-agent
        run: |
          GO_MOD_ONLY="--go-mod-only"
          if [[ '${{github.pull_request_merged}}' == 'true' ]]; then
            GO_MOD_ONLY=""
          fi
          inv -e buildimages.update-test-infra-definitions --commit-sha ${{ github.event.pull_request.head.sha }}

      - name: create datadog-agent PR
        uses: peter-evans/create-pull-request@v5
        with:
          draft: ${{ github.event.pull_request_merged != 'true'}}
          token: ${{ steps.app-token.outputs.token }}
          base: main
          delete-branch: true
          path: datadog-agent
          commit-message: 'test-infra-definitions: bump test-infra-definitions version'
          title: '[test-infra-definitions][automated] Bump test-infra-definitions'
          branch: 'automated/test-infra-definitions/${{ github.event.number }}'
          labels: 'team/agent-developer-tools,changelog/no-changelog,qa/no-code-change'
          body: >
            Automatically created by merging ${{ github.event.pull_request.html_url }}/n

            Here is the full changelog between your 2 changes: https://github.com/DataDog/test-infra-definitions/compare/${{steps.get-previous-sha.outputs.PREVIOUS_SHA}}..${{github.event.pull_request.head.sha}}


            :warning: This PR is opened with the skip-qa labels by default. Please make sure this is appropriate
