name: lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
permissions: {}
jobs:
  lint-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: "0"
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          # Using setup-go cache conflicts with golangci-lint action own cache management
          cache: false
          cache-dependency-path: go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2
        with:
          # Require: The version of golangci-lint to use.
          # When `install-mode` is `binary` (default) the value can be v1.2 or v1.2.3 or `latest` to use the latest version.
          # When `install-mode` is `goinstall` the value can be v1.2.3, `latest`, or the hash of a commit.
          version: v1.64.8

          # Optional: golangci-lint command line arguments.
          args: --timeout=10m

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: true

          # Optional:The mode to install golangci-lint. It can be 'binary' or 'goinstall'.
          install-mode: "goinstall"
      - name: Check tidy
        run: go mod tidy && git diff-files --exit-code go.mod go.sum
  lint-python-type:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install Python requirements
        run: pip3 install -r requirements.txt
      - name: Install pyright
        run: pip3 install pyright
      - name: Run pyright
        run: pyright tasks
  lint-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install lint python requirements
        run: pip3 install ruff vulture
      - name: Run linters
        run: |
          ruff format --check tasks
          ruff check tasks
          vulture --ignore-decorators @task --ignore-names 'test_*,Test*' tasks
